<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <title></title>

  </head>
  <body>
    <style>
      * {
        box-sizing: border-box;
      }

      body{
        font-family: 'Montserrat', sans-serif;
        background-color: #1d3557;
      }

      u{
        color: #1d3557;
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        background-color: #f1faee;  
        font-weight: bold;
      }

      th, td {
        text-align: left;
        padding: 16px;
        border: 2px solid #1d3557;
      }

      thead{
        color: #f1faee; 
        background-color: #e63946;
      }

      caption {
        color: #f1faee; 
        font-weight:  bold;
        padding:50px;
        margin-top:50px;
      }

      @media (min-width: 601px) {
        .row {
          display: flex;
          margin-left:-5px;
          margin-right:-5px;
        }

        .column {
          flex: 50%;
          padding: 5px;
          text-align: center;
        }
      }

      .navbar{
        margin-bottom: 20px;
        padding: 5px;
        background-color: #1d3557;
        height:50px;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        font-weight: bold;
      }

      .navbar input{
        background-color:#1d3557;
        border:2px solid #457b9d;
        height:100%;
        width:73%;
        color:white;
      }
      .navbar input:focus{
        background-color:#1d3557;
        outline: none;
        height:100%;  
        color:white;
      }

      .navbar button{
        height:100%;
        width:25%;    
        border:2px solid #457b9d;
        background-color:#1d3557;
        color:white;
      }
    </style>
    <div class = "navbar">
      <form action="/" method="post">
        <input type="text" name="cardName"  class="navbar-form"> <button type="submit"  class="navbar-form">Search</button>
      </form>
    </div>
    <div class="row">
      <div class="column">
        <table>
          <caption>Facetofacegames</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Edition</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=1; i < f2fCardArray.length; i++){ %>
            <tr>
              <td>
                <div onclick = "show('<%= i %>')">
                  <img src="<%- f2fCardArray[i].cardImage %>" style="display:none" id = "img<%= i %>" class="card-preview">
                  <u><%- f2fCardArray[i].cardName %></u>
                </div>
              </td>
              <td><%- f2fCardArray[i].cardEdition %></td>
              <td><%- f2fCardArray[i].cardPrice %></td>              
            <% } %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <table>
          <caption>Imaginaire</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Edition</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=1; i < imgCardArray.length; i++){ %>
            <tr>
              <td><%- imgCardArray[i].cardName %></td>
              <td><%- imgCardArray[i].cardEdition %></td>
              <td><%- imgCardArray[i].cardPrice %></td>
            <% } %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </body>
  <script type = "text/javascript">
    function show(i) {

      if(document.getElementById('img' + i).style.display == 'block'){
        document.getElementById('img' + i).style.display == 'none'
      } else {
        document.querySelectorAll('.card-preview').forEach(c => c.style.display = 'none');
        document.getElementById('img' + i).style.display = 'block';
      }
      
    }
    </script>
</html>
