<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title></title>

  </head>
  <body>
    <div class = "navbar">
      <form action="/" method="post">
        <input type="text" name="cardName"  class="navbar-form"> <button type="submit"  class="navbar-form">Search</button>
      </form>
    </div>
    <div class="row">
      <div class="column">
        <table>
          <caption>Facetofacegames</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Edition</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=1; i < f2fCardArray.length; i++){ %>
            <tr>
              <td>
                <div onclick = "show('<%= i %>')">
                  <img src="<%- f2fCardArray[i].cardImage %>" style="display:none" id = "img<%= i %>" class="card-preview">
                  <u><%- f2fCardArray[i].cardName %></u>
                </div>
              </td>
              <td><%- f2fCardArray[i].cardEdition %></td>
              <td><%- f2fCardArray[i].cardPrice %></td>              
            <% } %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <table>
          <caption>Imaginaire</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Edition</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=1; i < imgCardArray.length; i++){ %>
            <tr>
              <td><%- imgCardArray[i].cardName %></td>
              <td><%- imgCardArray[i].cardEdition %></td>
              <td><%- imgCardArray[i].cardPrice %></td>
            <% } %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </body>
  <script type = "text/javascript">
    function show(i) {

      if(document.getElementById('img' + i).style.display == 'block'){
        document.getElementById('img' + i).style.display = 'none'
      } else {
        document.querySelectorAll('.card-preview').forEach(c => c.style.display = 'none');
        document.getElementById('img' + i).style.display = 'block';
      }

    }
    </script>
</html>
